@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<h2 class="text-white">Quên mật khẩu?</h2>
<hr class="text-white editHr" size="10px" width="400px"/>
<h3 class="text-white">Nhập email của bạn</h3>
<hr class="text-white editHr" size="10px" width="300px />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đổi mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
