@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu đã được xác nhận";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<p class="text-white">
    Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
</p>
