
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="text-light align-content-center">
    <h1>Quản lý dữ liệu</h1>
    <hr class="text-white editHr" size="10px" />
    <a class="text-light" href="/swagger"><h1>APIs</h1></a>
</div>


